<a href="https://colab.research.google.com/github/castudil/Machine-Learning/blob/main/Proyecto%20Final%20ML/Entrega%2001-%20Obtain/Pauta_Entrega_01_Obtain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Proyecto Final - Reconocimiento de Actividad Humana (HAR)

###Entrega 01 - OBTAIN

Paso 1: Importar librerias


**Pandas**: proporciona herramientas que permiten: Leer y escribir datos en diferentes formatos: CSV, Microsoft Excel, bases SQL y formato HDF5, Seleccionar y filtrar tablas, Fusionar y unir datos, Manipulaci칩n de series temporales, Hacer gr치ficas, etc.

**Numpy**: Permite una generaci칩n y manejo de datos extremadamente r치pido. NumPy tiene su propia estructura de datos incorporada llamado arreglo (*array*) puede almacenar y operar con datos de manera eficiente.


***from google.colab import drive***: Permite conectar Google Drive con Google Colab

In [ ]:
import pandas as pd #Leer y escribir datos en diferentes formatos
import numpy as np 
from google.colab import drive #conecta Drive con Colab

Paso 2: Cargar los datos, se cargan los datos a los archivos del *Google Colab*, se crea una variable con los datos y un DataFrame para guardar los datos en columnas y luego visualizarlos

In [ ]:
file1 = open('WISDM_ar_v1.1_raw.txt')

In [ ]:
df1 = pd.DataFrame(data = file1) 
df1.head()

                                                   0
0  33,Jogging,49105962326000,-0.6946377,12.680544...
1  33,Jogging,49106062271000,5.012288,11.264028,0...
2  33,Jogging,49106112167000,4.903325,10.882658,-...
3  33,Jogging,49106222305000,-0.61291564,18.49643...
4  33,Jogging,49106332290000,-1.1849703,12.108489...

Conectar Google Drive con Google Colab

In [ ]:
drive = drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Paso 2: Cargar los datos, se cargan los datos a *Google Drive*, se cra una variable con los datos y un DataFrame para guardar los datos en columnas y luego visualizarlos

In [ ]:
file2 = pd.read_table("/content/drive/MyDrive/WISDM_ar_latest/WISDM_ar_v1.1/WISDM_ar_v1.1_raw.txt", header=None)

In [ ]:
df2 = pd.DataFrame(data = file2)
df2.head()

                                                   0
0  33,Jogging,49105962326000,-0.6946377,12.680544...
1  33,Jogging,49106062271000,5.012288,11.264028,0...
2  33,Jogging,49106112167000,4.903325,10.882658,-...
3  33,Jogging,49106222305000,-0.61291564,18.49643...
4  33,Jogging,49106332290000,-1.1849703,12.108489...

###Entrega 02